<mat-card class="user-profile-card">
  <mat-card-title>Профиль пользователя</mat-card-title>
  <mat-card-content *ngIf="!editMode">
    <div >
      <img *ngIf="userProfile?.avatar; else defaultAvatar" [src]="userProfile.avatar" class="avatar">
      <ng-template #defaultAvatar>
        <mat-icon>person</mat-icon>
      </ng-template>
    </div>
    <div>
      <p>Полное имя:
        <span *ngIf="!!userProfile?.fullName; else notFilled">{{ userProfile.fullName }}</span>
        <ng-template #notFilled><span>не заполнено</span></ng-template>
      </p>
    </div>
    <div>
      <button mat-raised-button [color]="defaultColor" (click)="onEditToggle()">Редактировать</button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="editMode">
    <div (click)="fileInput.click()">
      <img *ngIf="userProfile?.avatar; else defaultAvatar" [src]="userProfile.avatar" class="avatar">
      <ng-template #defaultAvatar>
        <mat-icon>person</mat-icon>
      </ng-template>
    </div>
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Полное имя" formControlName="fullName" name="fullName" required>
        <mat-error>
          Пожалуйста, введите своё ФИО
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [color]="defaultColor" [disabled]="!profileForm.valid || submitted">Обновить</button>
    </form>
    <mat-progress-bar *ngIf="submitted" mode="buffer"></mat-progress-bar>
  </mat-card-content>
</mat-card>
