.user-profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-column, .right-column {
  flex: 1;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .user-profile-content {
    flex-direction: column;
  }

  .left-column, .right-column {
    width: 100%;
  }
}
