<mat-card>
  <mat-card-title>Информация о задаче</mat-card-title>
  <mat-card-content *ngIf="!editMode">
    <div *ngIf="formData?.title">
      <p>{{ formData.title }}</p>
      <p>{{ formData.description }}</p>
      <p>Срок: {{ formData.dueDate | date }}</p>
      <p>Статус: {{ formData.status }}</p>
      <p>Категория: {{ formData.category || 'Не указана' }}</p>
    </div>
    <div *ngIf="isOwnerTask || (userService.isCurrentUserAdmin | async)">
      <button mat-raised-button [color]="defaultColor" (click)="onEditToggle()">Редактировать</button>
      <button mat-raised-button [color]="warnColor" (click)="onDeleteTask()">Удалить</button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="editMode">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="!!error">
        {{ error }}
      </mat-error>
      <mat-form-field>
        <mat-label>Название задачи</mat-label>
        <input matInput placeholder="Введите название задачи" formControlName="title" name="title" required>
        <mat-error>
          Пожалуйста, введите название задачи
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Описание задачи</mat-label>
        <textarea matInput placeholder="Введите описание задачи" formControlName="description" name="description"
                  required></textarea>
        <mat-error>
          Пожалуйста, введите описание задачи
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата выполнения</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Выберите дату" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Категория</mat-label>
        <input matInput placeholder="Выберите категорию" formControlName="category" name="category">
      </mat-form-field>

      <app-status-select></app-status-select>

      <button mat-raised-button [color]="defaultColor" [disabled]="!taskForm.valid || submitted">Обновить задачу
      </button>
    </form>
    <mat-progress-bar *ngIf="submitted" mode="buffer"></mat-progress-bar>
  </mat-card-content>
</mat-card>
