<mat-toolbar [color]="defaultColor">
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Менеджер задач</span>
  <span class="spacer"></span>
  <div class="nav-items" *ngIf="!(isHandset$ | async) && !(userService.isAuthenticated$ | async)">
    <a mat-button routerLink="/auth/login">Login</a>
  </div>
  <div class="nav-items" *ngIf="!(isHandset$ | async) && (userService.isAuthenticated$ | async)">
    <a mat-button routerLink="/tasks/list">Tasks</a>
    <a mat-button routerLink="/profile/default">Profile</a>
    <a mat-button (click)="onLogout()">Logout</a>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav *ngIf="(isHandset$ | async) && !(userService.isAuthenticated$ | async)">
    <mat-nav-list>
      <div class="nav-items-mobile">
        <a mat-button routerLink="/tasks/list">Tasks</a>
        <a mat-button routerLink="/auth/login">Login</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #sidenav *ngIf="(isHandset$ | async) && (userService.isAuthenticated$ | async)">
    <mat-nav-list>
      <div class="nav-items-mobile">
        <a mat-button routerLink="/tasks/list">Tasks</a>
        <a mat-button routerLink="/profile/default">Profile</a>
        <a mat-button (click)="onLogout()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
