<mat-card>
  <mat-card-title>Новая задача</mat-card-title>
  <mat-card-content>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="!!error">
        {{ error }}
      </mat-error>
      <mat-form-field>
        <mat-label>Название задачи</mat-label>
        <input matInput placeholder="Введите название задачи" formControlName="title" name="title" required>
        <mat-error>
          Пожалуйста, введите название задачи
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Описание задачи</mat-label>
        <textarea matInput placeholder="Введите описание задачи" formControlName="description" name="description" required></textarea>
        <mat-error>
          Пожалуйста, введите описание задачи
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата выполнения</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Выберите дату" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-raised-button [color]="defaultColor" [disabled]="!taskForm.valid || submitted">Создать задачу</button>
    </form>
    <mat-progress-bar *ngIf="submitted" mode="buffer"></mat-progress-bar>
  </mat-card-content>
</mat-card>
